.mainNav {
  background-color: blue;
  padding: 15px 30px;
  margin-bottom: 20px;
}

.mainNav a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
}


.mainNav a.active {
  color: orange;
  font-weight: bold;
}